#profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--clr-white-grey);
}
#profile .container {
  width: 100%;
  display: flex;
  height: inherit;
  justify-content: center;
  align-items: center;
}
#profile .container .row1 {
  width: 100%;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#profile .container .row1 .col1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
}
#profile .container .row1 .col1 .img-div {
  width: 100px;
  height: 100px;
  outline: 2px;
  outline-offset: 4px;
  outline-color: deepskyblue;
}
#profile .container .row1 .col1 .img-div img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
#profile .container .row1 .col2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
}

#profile .container .row1 .col2 .data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#profile .container .row1 .col2 .data .propety {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 6px;
}
#profile .container .row1 .col2 .data .propety .userdata {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
#profile .container .row1 .col2 .data .propety .userdata h1 {
  padding: 8px;
  border-radius: 5px;
}
#profile .container .row1 .col2 .data .propety .userdata h2 {
  font-size: medium;
}

.inline {
  display: inline !important;
}

@media screen and (max-width: 992px) {
  #profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 20vh;
    background-color: var(--clr-white-grey);
  }
  #profile .container .row1 {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  #profile .container .row1 .col1 {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  #profile .container .row1 .col2 .data .propety {
  }
}
