#projects {
  width: 100%;
  background-color: rgb(237, 250, 247);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#projects .container {
  padding-top: 100px;
  width: 100%;
  padding-bottom: 30px;
}
#projects .container .row1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
#projects .container .row1 .nested-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 50px;
}
#projects .container .row1 .nested-nav .link:hover {
  transform: scale(1.03);
}
