@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Work Sans", sans-serif;
}
.titlemain {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  padding: 50px 0px;
}

.titlediv {
  height: 3px;
  width: 100px;
  background-color: #2098e3;
  border-radius: 5px;
  margin-top: 5px;
}
.titlemain h1 {
  font-size: 25px;
  color: #3a9ad6;
  font-weight: 600 !important;
  font-family: Arial, Helvetica, sans-serif !important;
}
